cs_*/.vs
cs_*/bin
cs_*/obj
cs_*/packages
java_*/.settings/
java_*/bin/
java_*/.classpath
java_*/.project
java_android_*/*.iml
java_android_*/local.properties
java_android_*/.DS_Store
java_android_*/captures
java_android_*/.externalNativeBuild
