/*
--- Classes servant à styliser la barre de navigation
*/
nav {
	background-color: #333399;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
}

nav li {
	list-style-type: none;
}

nav a {
	display: inline-block;
	color: #FFFFFF;
	font-size: 15px;
	text-decoration: none;
}

nav > ul {
	margin: 0;
	padding: 0;
}

nav > ul > li {
	margin: 3px 0 0 0;
	position: relative;
	float: left;
}

nav > ul > li:hover {
	margin: 0;
	border-top: 3px solid #FFFFFF;
	background-color: #4444AA;
}

nav > ul > li > a {
	padding: 10px 20px;
}

nav > ul > li:hover > a {
}

nav > ul > li > ul {
	position: absolute;
	background-color: #333399;
	top: 100%;
	left: 0px;
	width: 100%;
	display: none;
	padding: 0;
}

nav > ul > li:hover > ul {
	display: inline-block;
}

nav > ul > li > ul > li {
	margin: 0 0 0 3px;
}

nav > ul > li > ul > li > a {
	width: 100%;
	padding: 5px 0;
}

nav > ul > li > ul > li:hover {
	border-left: 3px solid #FFFFFF;
	margin: 0;
	background-color: #4444AA;
}
